[submodule "androidLifeCycle"]
	path = androidLifeCycle
	url = https://github.com/gazman-sdk/Life-Cycle
[submodule "lifeCycle"]
	path = lifeCycle
	url = https://github.com/Confidence-coin/life-cycle-java.git
